### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java compilados ###
*.class

### Tasf.B2B - Datos Masivos y Resultados ###

# 1. Ignorar la carpeta de datos gigantes (aeropuertos, vuelos, millones de envíos)
/datos/
datos/
/data/
data/

# 2. Ignorar los reportes de experimentación generados por el Main
*.csv
visualizacion_casos.json

### IntelliJ IDEA (Archivos de proyecto local) ###
.idea/
*.iml